@import "../../style/style.scss";

button.kyc-toggle-button {
	display: inline-flex;
	justify-content: space-between;
	padding-left: 1.5rem;
	align-items: center;
	outline: none;
	border: 1px solid transparent;
	border-radius: $--border-radius-light;
	cursor: pointer;
	height: $--button-height;
	color: white;
	background: $--kyc-normal-blue;
	box-shadow: 0 0 1pt 0 $--kyc-normal-blue-35;
	margin-top: 1em;

	&.full-width {
		width: 100%;
	}

	&[disabled] {
		background: $--inactive !important;
		pointer-events: none !important;
	}

	&.centered {
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
	}

	span {
		font-family: $--light-font;
		font-weight: 200;
		font-size: 18px;
		margin-left: 0;
	}

	&:hover {
		background: $--kyc-green;
		box-shadow: 0 0 0 1pt $--kyc-green-35;

		span,
		.material-icons {
			margin-left: 0.2em;
			color: white;
		}
	}

	&.toggled {
		background: $--kyc-green;
		box-shadow: 0 0 0 1pt $--kyc-green-35;

		span,
		.material-icons {
			margin-left: 0.2em;
			color: white;
		}
	}

	&:focus {
		box-shadow: 0 0 0 1pt $--kyc-green-50;
	}

	&:active {
		box-shadow: 0 0 0 1pt $--kyc-green-75;
	}

	&:focus-visible {
		outline: none;
		border: none;
	}
}
