button.kyc-sdk-toggle-button {
	display: inline-flex;
	justify-content: space-between;
	padding-left: 1.5rem;
	align-items: center;
	outline: none;
	border: 1px solid transparent;
	border-radius: var(--kyc-sdk-border-radius-light);
	cursor: pointer;
	height: var(--kyc-sdk-button-height);
	color: white;
	background: var(--kyc-sdk-normal-blue);
	box-shadow: 0 0 1pt 0 var(--kyc-sdk-normal-blue-35);
	margin-top: 1em;

	&.full-width {
		width: 100%;
	}

	&[disabled] {
		background: var(--kyc-sdk-inactive) !important;
		pointer-events: none !important;
	}

	&.centered {
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
	}

	span {
		font-family: var(--light-font);
		font-weight: 200;
		font-size: 18px;
		margin-left: 0;
	}

	&:hover {
		background: var(--kyc-sdk-green);
		box-shadow: 0 0 0 1pt var(--kyc-sdk-green-35);

		span,
		.material-icons {
			margin-left: 0.2em;
			color: white;
		}
	}

	&.toggled {
		background: var(--kyc-sdk-green);
		box-shadow: 0 0 0 1pt var(--kyc-sdk-green-35);

		span,
		.material-icons {
			margin-left: 0.2em;
			color: white;
		}
	}

	&:focus {
		box-shadow: 0 0 0 1pt var(--kyc-sdk-green-50);
	}

	&:active {
		box-shadow: 0 0 0 1pt var(--kyc-sdk-green-75);
	}

	&:focus-visible {
		outline: none;
		border: none;
	}
}
