@use "../../style/tr2";

.kyc-dao-web-sdk-option {
	height: 2.5em;
	cursor: pointer;
	line-height: 2.5em;
	padding-left: 1.5em;
	border-bottom: 1px solid var(--kyc-sdk-normal-blue-15);
	font-family: var(--kyc-sdk-primary-font);
	font-weight: 400;
	color: black;
	justify-content: left;

	strong {
		font-family: var(--kyc-sdk-primary-font);
		font-weight: 800;
		justify-content: center;
	}

	&:hover {
		background: var(--kyc-sdk-cybergreen-35);
		color: black;
	}
}

@media only screen and (min-width: 992px) {
	.kyc-dao-web-sdk-autocomplete {
		max-height: 20vh;
	}
}
