@font-face {
  font-family: "gilroyRegular";
  src:
    /* Modern Browsers */
    url("./fonts/ITCAvantGardePro-Book.woff2") format("woff2"),

    /* Safari, Android, iOS */
    url("./fonts/ITCAvantGardePro-Book.woff") format("woff"),

    /* Modern Browsers */
    url("./fonts/ITCAvantGardePro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyRegular";
  src:
    /* Modern Browsers */
    url("./fonts/Gilroy-Regular.woff2") format("woff2"),

    /* Modern Browsers */
    url("./fonts/Gilroy-Regular.woff") format("woff"),

    /* Safari, Android, iOS */
    url("./fonts/Gilroy-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyLight";
  src:
    /* Modern Browsers */
    url("./fonts/Gilroy-Light.woff2") format("woff2"),

    /* Modern Browsers */
    url("./fonts/Gilroy-Light.woff") format("woff"),

    /* Safari, Android, iOS */
    url("./fonts/Gilroy-Light.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "gilroyBold";
  src:
    /* Modern Browsers */
    url("./fonts/Gilroy-ExtraBold.woff2") format("woff2"),

    /* Modern Browsers */
    url("./fonts/Gilroy-ExtraBold.woff") format("woff"),

    /* Safari, Android, iOS */
    url("./fonts/Gilroy-ExtraBold.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}