# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.yarn
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
index.d.ts

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# playwright test results
test-results
playwright-report

.vscode
.idea

# dynamically created styles in the public, we build them everytime
public/app.css*
public/app.css
public/client.css.*
public/client.css
public/iframeClient.css.*
public/iframeClient.css
public/*.css