@use "@Style/tr2";

.kyc-dao-web-sdk-button {
	&.kyc-dao-web-sdk-full-width {
		width: 100%;
	}

	&:disabled {
		background: var(--kyc-sdk-inactive);
		pointer-events: none;
		border: 2px solid black;

		span,
		i {
			color: black;
		}
	}

	&.kyc-dao-web-sdk-black {
		&:enabled {
			background: black;
			border: 2px solid black;
		}

		span,
		i {
			font-weight: 400;
			color: white;
		}

		&:hover {
			background: var(--kyc-sdk-cybergreen);
			box-shadow: 0 0 0 0px var(--kyc-sdk-cybergreen-35);

			span,
			i {
				color: black;
			}
		}

		&:focus {
			background: var(--kyc-sdk-cybergreen);
			box-shadow: 0 0 0 5px var(--kyc-sdk-cybergreen-35);

			span,
			i {
				color: black;
			}
		}

		&:active {
			background: var(--darken-green);
			box-shadow: 0 0 0 5px var(--kyc-sdk-cybergreen-35);
		}

		&:focus-visible {
			outline: none;
			border: none;
		}
	}

	&.kyc-dao-web-sdk-green {
		background: var(--kyc-sdk-cyberpunk);

		span,
		i {
			font-weight: 400;
			color: white;
		}

		&:hover {
			background: var(--kyc-sdk-cyberpunk);
			box-shadow: 0 0 0 10px var(--kyc-sdk-normal-blue-35);

			span {
				font-weight: 400;
				color: var(--kyc-sdk-dark-blue);
				//margin-left: 0.5em;
			}
		}

		&:focus {
			background: var(--kyc-sdk-cyberpunk);
			box-shadow: 0 0 0 5px var(--kyc-sdk-cyberpunk-35);
		}

		&:active {
			box-shadow: 0 0 0 5px var(--kyc-sdk-dark-blue-35);
		}

		&:focus-visible {
			outline: none;
			border: none;
		}
	}

	/* GYURI : COPY STYLE */
	&.kyc-dao-web-sdk-underline {
		position: relative;
		display: inline-flex;
		width: max-content;

		&:enabled {
			background: rgb(0, 0, 0, 0);
			color: black;
		}

		&:after:not(:disabled) {
			content: "";
			display: inline-flex;
			height: 2px;
			width: 100%;
			background-color: var(--kyc-sdk-cybergreen);
			position: absolute;
			bottom: 6px;
			@extend .kyc-dao-web-sdk-tr2;
		}

		&:after:disabled {
			content: "";
			display: inline-flex;
			height: 2px;
			width: 100%;
			background-color: grey;
			position: absolute;
			bottom: 6px;
		}

		span {
			display: flex;
			align-items: center;
		}

		span:disabled {
			color: grey;
		}

		i:disabled {
			color: grey;
		}

		&:hover {
			&:after {
				height: 8px;
			}
		}

		&:disabled {
			background-color: transparent;
			border: none;
			color: grey;
		}
	}

	&.kyc-dao-web-sdk-centered {
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
	}

	:after:disabled {
	}
}
