@use "../../style/tr2";

.kyc-dao-web-sdk-button {
	height: var(--kyc-sdk-button-height);
	display: inline-flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;

	position: relative;
	box-shadow: 0 0 0 0 rgba(white, 0);
	background: #ecf0fe;
	color: var(--kyc-sdk-dark-purple);
	border-radius: var(--kyc-sdk-border-radius-light);
	font-size: 12pt;
	cursor: pointer;
	@extend .kyc-dao-web-sdk-tr2;

	span {
		font-family: var(--kyc-sdk-primary-font);
		font-weight: 400;
		font-size: 16px;
		margin-left: 0;
	}

	&.kyc-dao-web-sdk-full-width {
		width: 100%;
	}

	&[disabled] {
		background: var(--kyc-sdk-inactive) !important;
		pointer-events: none !important;
		border: 2px solid black;

		span,
		i {
			color: black !important;
		}
	}

	&.kyc-dao-web-sdk-black {
		background: black;
		border: 2px solid black;

		span,
		i {
			font-weight: 400;
			color: white;
		}

		&:hover {
			background: var(--kyc-sdk-cybergreen);
			box-shadow: 0 0 0 0px var(--kyc-sdk-cybergreen-35);

			span,
			i {
				color: black;
			}
		}

		&:focus {
			background: var(--kyc-sdk-cybergreen);
			box-shadow: 0 0 0 5px var(--kyc-sdk-cybergreen-35);

			span,
			i {
				color: black;
			}
		}

		&:active {
			background: var(--darken-green);
			box-shadow: 0 0 0 5px var(--kyc-sdk-cybergreen-35);
		}

		&:focus-visible {
			outline: none;
			border: none;
		}
	}

	/*
		&.blue {
			background: $--kyc-sdk-normal-blue;
	
			span,
			.material-icons {
				font-weight: 400;
				color: white;
			}
	
			&:hover {
				background: $--kyc-sdk-normal-blue;
				box-shadow: 0 0 0 10px $--kyc-sdk-normal-blue-35;
			}
	
			&:focus {
				background: $--kyc-sdk-normal-blue;
				box-shadow: 0 0 0 5px $--kyc-sdk-normal-blue-50;
			}
	
			&:active {
				box-shadow: 0 0 0 5px $--kyc-sdk-normal-blue-35;
			}
	
			&:focus-visible {
				outline: none;
				border: none;
			}
		}
		 */

	&.kyc-dao-web-sdk-green {
		background: var(--kyc-sdk-cyberpunk);

		span,
		i {
			font-weight: 400;
			color: white;
		}

		&:hover {
			background: var(--kyc-sdk-cyberpunk);
			box-shadow: 0 0 0 10px var(--kyc-sdk-normal-blue-35);

			span {
				font-weight: 400;
				color: var(--kyc-sdk-dark-blue);
				//margin-left: 0.5em;
			}
		}

		&:focus {
			background: var(--kyc-sdk-cyberpunk);
			box-shadow: 0 0 0 5px var(--kyc-sdk-cyberpunk-35);
		}

		&:active {
			box-shadow: 0 0 0 5px var(--kyc-sdk-dark-blue-35);
		}

		&:focus-visible {
			outline: none;
			border: none;
		}
	}

	/* GYURI : COPY STYLE */
	&.kyc-dao-web-sdk-underline {
		background: rgb(0, 0, 0, 0);
		color: black;
		position: relative;
		display: inline-flex;
		width: max-content;

		&:after {
			content: "";
			display: inline-flex;
			height: 2px;
			width: 100%;
			background-color: var(--kyc-sdk-cybergreen);
			position: absolute;
			bottom: 6px;
			@extend .kyc-dao-web-sdk-tr2;
		}

		span {
			display: flex;
			align-items: center;
		}

		&:hover {
			&:after {
				height: 8px;
			}
		}
	}

	&.kyc-dao-web-sdk-centered {
		justify-content: center;
		padding-left: 0;
		padding-right: 0;
	}
}
