@use "../../style/variables";

button.kyc-button {
	height: var(--button-height);
	display: inline-flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;

	position: relative;
	box-shadow: 0 0 0 0 rgba(white, 0);
	background: #ecf0fe;
	color: var(--kyc-dark-purple);
	border-radius: var(--border-radius-light);
	font-size: 12pt;
	cursor: pointer;
	@extend .tr2;

	span {
		font-family: var(--primary-font);
		font-weight: 400;
		font-size: 16px;
		margin-left: 0;
	}

	&.full-width {
		width: 100%;
	}

	&[disabled] {
		background: var(--inactive) !important;
		pointer-events: none !important;
		border: 2px solid black;

		span,
		i {
			color: black !important;
		}
	}

	&.black {
		background: black;
		border: 2px solid black;

		span,
		.material-icons {
			font-weight: 400;
			color: white;
		}

		&:hover {
			background: var(--kyc-cybergreen);
			box-shadow: 0 0 0 0px var(--kyc-cybergreen-35);

			span,
			i {
				color: black;
			}
		}

		&:focus {
			background: var(--kyc-cybergreen);
			box-shadow: 0 0 0 5px var(--kyc-cybergreen-35);

			span,
			i {
				color: black;
			}
		}

		&:active {
			background: var(--darken-green);
			box-shadow: 0 0 0 5px var(--kyc-cybergreen-35);
		}

		&:focus-visible {
			outline: none;
			border: none;
		}
	}

	/*
	&.blue {
		background: $--kyc-normal-blue;

		span,
		.material-icons {
			font-weight: 400;
			color: white;
		}

		&:hover {
			background: $--kyc-normal-blue;
			box-shadow: 0 0 0 10px $--kyc-normal-blue-35;
		}

		&:focus {
			background: $--kyc-normal-blue;
			box-shadow: 0 0 0 5px $--kyc-normal-blue-50;
		}

		&:active {
			box-shadow: 0 0 0 5px $--kyc-normal-blue-35;
		}

		&:focus-visible {
			outline: none;
			border: none;
		}
	}
	 */

	&.green {
		background: var(--kyc-cyberpunk);

		span,
		.material-icons {
			font-weight: 400;
			color: white;
		}

		&:hover {
			background: var(--kyc-cyberpunk);
			box-shadow: 0 0 0 10px var(--kyc-normal-blue-35);

			span,
			.material-icons {
				font-weight: 400;
				color: var(--kyc-dark-blue);
				//margin-left: 0.5em;
			}
		}

		&:focus {
			background: var(--kyc-cyberpunk);
			box-shadow: 0 0 0 5px var(--kyc-cyberpunk-35);
		}

		&:active {
			box-shadow: 0 0 0 5px var(--kyc-dark-blue-35);
		}

		&:focus-visible {
			outline: none;
			border: none;
		}
	}

	/* GYURI : COPY STYLE */
	&.underline {
		background: rgb(0, 0, 0, 0);
		color: black;
		position: relative;
		display: inline-flex;
		width: max-content;

		&:after {
			content: "";
			display: inline-flex;
			height: 2px;
			width: 100%;
			background-color: var(--kyc-cybergreen);
			position: absolute;
			bottom: 6px;
			@extend .tr2;
		}

		span {
			display: flex;
			align-items: center;
		}

		&:hover {
			&:after {
				height: 8px;
			}
		}
	}

	&.kyc-submit-button {
		span {
			padding-left: 1.5rem;
		}
	}
}
