@import "../../style/variables.scss";

.step-part {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.step {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding: 1em;
  justify-content: space-between;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  right: 0;
  width: 400px;
  padding-bottom: 64px;

  position: relative;
  transition: right 0.25s;
  overflow: hidden;

  &.moving-center {
    right: 0px;
  }

  &.moving-in {
    right: -100%;
  }

  &.moving-out {
    right: 100%;
  }

  h1 {
    font-family: 'gilroyRegular';
    font-weight: 400;
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  .step-body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    p {
      font-family: 'gilroyRegular';
      font-weight: 400;
      color: $--kyc-dark-blue;
    }
  }

  .step-footer {
    padding-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    .policy {
      font-family: 'gilroyRegular';
      color: $--kyc-dark-blue;
    }

    .kyc-input {
      margin: 1rem 0;
    }
  }
}

/* 01 STEP - membershipStep.tsx */

.the-process {

  ul {
    padding: 1rem 0;
    margin: 0 auto;
    width: fit-content;

    li {
      list-style: none;
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
      position: relative;

      &:after {
        display: block;
        content: '';
        height: 100%;
        width: 1px;
        background-color: $--kyc-normal-blue;
        position: absolute;
        top: 2rem;
        left: 1rem;
      }

      &:last-child {

        &:after {
          display: none;
        }
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        outline: 0.5rem solid $--kyc-normal-blue-15;
        border-radius: 999rem;
        background: $--kyc-normal-blue;
        color: white;
        font-family: 'gilroyBold';
      }

      p {
        margin-left: 1rem;
      }
    }
  }
}

/* 02 STEP - verificationStep.tx */

/* 03 STEP - emailDiscordVerificationStep.tsx  */

/* 04 STEP - taxResidence.tsx  */

/* 05 STEP - chainSelectionStep.tsx  */

/* 06 STEP - nftArtSelection.tsx  */

/* 07 STEP - chainSelectionStep.tsx  */