.calculator-wrapper {
	p {
		font-family: var(--kyc-sdk-primary-font);
	}

	.calculator {
		display: flex;
		flex-flow: column;
		flex-direction: "column";

		& > div {
			justify-content: space-evenly;
			flex-direction: row;
			display: flex;
			margin-bottom: 1em;
		}

		.calculator-button {
			margin-block: auto;
			line-height: 2em;
			justify-content: center;
			padding-left: 0;
			padding-right: 0;
			width: 3em;
			height: 3em;

			//background: rgb(0, 0, 0, 0);
			background: black;
			border: 2px black solid;

			span {
				color: white;

				i {
					vertical-align: middle;
				}
			}

			&:hover {
				box-shadow: 0 0 0 0px var(--kyc-sdk-cybergreen-35);
				background: var(--kyc-sdk-cybergreen);

				span {
					color: black;
				}

				&:focus {
					span {
						color: black;
					}
				}
			}

			&:focus {
				box-shadow: 0 0 0 5px var(--kyc-sdk-cybergreen-35);

				span {
					color: white;
				}
			}

			&:active {
				background: var(--kyc-sdk-cybergreen);
				border: 2px solid var(--kyc-sdk-cybergreen);
				box-shadow: 0 0 0 5px var(--kyc-sdk-cybergreen-35);
			}

			&:focus-visible {
				outline: none;
				border: none;
			}
		}

		.sum {
			display: flex;
			align-items: center;
			flex: 1;
			justify-content: center;

			.price {
				color: black;
				font-weight: 800;
				font-family: var(--kyc-sdk-primary-font);
			}

			.subscription {
				font-family: var(--kyc-sdk-primary-font);
			}
		}

		.yearCount {
			font-family: var(--kyc-sdk-primary-font);
			color: black;
			display: flex;
			align-items: center;
			margin-block: auto;
			flex: 1;
			justify-content: center;
		}
	}
}

.value {
	color: black;
	font-size: 12px;
	display: flex;
	margin-bottom: 1em;
	font-family: var(--kyc-sdk-primary-font);

	padding: 0.5rem;
	background: var(--kyc-sdk-cybergreen-35);
	border-radius: 4px;
	align-items: center;

	i {
		margin-left: -2px;
		margin-right: 2px;
	}

	p {
		display: flex;
		font-size: 12px;
		padding-right: 3px;

		> strong {
			padding-right: 3px;
			color: black;
			font-weight: 800;
		}
	}
}

.subscription-selector {
	font-family: var(--kyc-sdk-primary-font);

	> strong {
		color: black;
	}
}
