.kyc-sdk-select {
	height: var(--button-height);
	display: inline-flex;
	justify-content: space-between;
	padding-left: 1.5em;
	align-items: center;
	margin-top: 1em;
	margin-bottom: 1em;
	position: relative;
	box-shadow: 0 0 0 0 rgba(white, 0);
	background: #ecf0fe;
	border-radius: var(--border-radius-light);
	font-size: 12pt;
	border-width: 2pt;
	border-style: solid;
	font-family: var(--primary-font);
	color: black;

	&.open {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	select {
		display: none;
	}

	::placeholder {
		color: var(&kyc-sdk-dark-purple);
		font-family: var(--primary-font);
	}

	::-webkit-input-placeholder {
		color: var(&kyc-sdk-dark-purple);
		font-family: var(--primary-font);
	}

	:-ms-input-placeholder {
		color: var(&kyc-sdk-dark-purple);
		font-family: var(--primary-font);
	}

	::-ms-input-placeholder {
		color: var(&kyc-sdk-dark-purple);
		font-family: var(--primary-font);
	}

	&:hover {
		box-shadow: 0 0 0 10px var(&kyc-sdk-normal-blue-35);
		border-color: var(&kyc-sdk-normal-blue);
	}

	&:focus {
		box-shadow: 0 0 0 10px var(&kyc-sdk-normal-blue-50);
		border-color: var(&kyc-sdk-normal-blue);
	}

	&.full-width {
		display: flex;
		width: 100%;
	}
}

.disabled {
	position: relative;
	z-index: 10;
	border: 2px solid var(&kyc-sdk-green);
	box-shadow: 0 0 0 10px var(&kyc-sdk-green-35);
}

.kyc-sdk-option {
	&.first {
		// margin-top: -1em;
	}

	border: 1pt;
	border-style: solid;
	height: var(--button-height);
	display: flex;
	justify-content: space-between;
	padding-left: 1.5em;
	align-items: center;
	position: relative;
	box-shadow: 0 0 0 0 rgba(white, 0);
	background: #ecf0fe;
	color: black;
	font-size: 11pt;
}
