.kyc-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:after {
    display: block;
    content: "";

    height: 1rem;
    width: 1rem;
    border-radius: var(--border-radius-light);
    cursor: pointer;
    border: 2px solid $border;
    @extend .tr2;
  }

  &:before {
    display: block;
    content: "";

    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid var(--kyc-normal-blue);
    visibility: hidden;
    opacity: 0;
    @include scale(0);
    @extend .tr2;
  }

  &:hover {
    &:after {
      border: 2px solid var(--kyc-normal-blue);
    }
  }

  &:checked,
  &.checked {
    &:after {
      border: 2px solid var(--kyc-normal-blue);
    }

    &:before {
      @include scale(1);
      visibility: visible;
      opacity: 1;
    }
  }
}
