.options-list {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;

  &.crowded {
    display: grid;
    grid: auto / auto auto;
    gap: 1rem;

    li {
      margin-bottom: 0;
    }
  }

  li {
    display: flex;

    align-items: center;
    justify-content: space-between;
    border: 2px solid $border;
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    @extend .tr2;
    width: 100%;
    cursor: pointer;

    div {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 999rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $border;
      @extend .tr2;

      span {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 999rem;
        background: var(--kyc-normal-blue);
      }
    }

    h4 {
      color: var(--kyc-dark-blue);
    }
  }

  li:last-child {
    margin-bottom: 0;
  }

  li:hover {
    border: 2px solid var(--kyc-normal-blue);

    div {
      span {
        background: var(--kyc-normal-blue);
      }
    }
  }

  li.selected {
    border: 2px solid var(--kyc-normal-blue);

    div {
      span {
        background: var(--kyc-normal-blue);
      }
    }
  }
}
