@use "@Style/variables";

.kyc-sdk-submit-button {
	overflow: hidden;

	.first-arrow {
		position: absolute;
		right: 3rem;
		opacity: 0;
		@include variables.translateX(0);
		@extend .tr2;
	}

	.second-arrow {
		position: absolute;
		right: 1rem;
		@include variables.translateX(0);
		@extend .tr2;
	}

	span {
	}

	&:hover {
		.first-arrow {
			@include variables.translateX(2rem);
			opacity: 1;
		}

		.second-arrow {
			@include variables.translateX(8rem);
		}
	}
}
