@use "@Style/tr2";
@use "@Style/translateX";

.kyc-dao-web-sdk-submit-button {
	overflow: hidden;

	.kyc-dao-web-sdk-first-arrow {
		position: absolute;
		right: 3rem;
		opacity: 0;
		@include translateX.translateX(0);
		@extend .kyc-dao-web-sdk-tr2;
	}

	.kyc-dao-web-sdk-second-arrow {
		position: absolute;
		right: 1rem;
		@include translateX.translateX(0);
		@extend .kyc-dao-web-sdk-tr2;
	}

	span,
	:global(.material-icons) {
		padding-left: 1.5rem;
	}

	&:hover {
		.kyc-dao-web-sdk-first-arrow {
			@include translateX.translateX(2rem);
			opacity: 1;
		}

		.kyc-dao-web-sdk-second-arrow {
			@include translateX.translateX(8rem);
		}
	}
}
