@import "../../style/variables";

.kyc-submit-button {
	overflow: hidden;

	.first-arrow {
		position: absolute;
		right: 3rem;
		opacity: 0;
		@include translateX(0);
		@extend .tr2;
	}

	.second-arrow {
		position: absolute;
		right: 1rem;
		@include translateX(0);
		@extend .tr2;
	}

	span {
	}

	&:hover {

		.first-arrow {
			@include translateX(2rem);
			opacity: 1;
		}

		.second-arrow {
			@include translateX(8rem);
		}
	}
}
