@import "../../style/variables";

.step-part {
	display: flex;
	width: 100%;
	box-sizing: border-box;
}

.step {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	flex-direction: column;
	padding: 1em;
	justify-content: space-between;
	// height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	align-items: center;
	right: 0;
	// height: auto;
	top: 64px;
	bottom: 0;

	position: relative;
	transition: right 0.25s;
	overflow: hidden;

	&.blurred {
		filter: brightness(50%);
		background: #fefefe;
	}

	&.moving-center {
		right: 0px;
	}

	&.moving-in {
		right: -100%;
	}

	&.moving-out {
		right: 100%;
	}

	h1 {
		font-family: var(--primary-font);
		align-items: flex-start;
		font-weight: 400;
		display: flex;
		width: 100%;
		box-sizing: border-box;
		color: black;
	}

	.step-body {
		box-sizing: border-box;
		align-items: stretch;

		p {
			font-family: var(--primary-font);
			font-weight: 400;
			color: black;
		}
		width: 100%;
		height: 100%;
	}

	.step-head {
		width: 100%;
	}

	.step-footer {
		padding-bottom: 1rem;
		width: 100%;
		box-sizing: border-box;
		position: relative;

		.kyc-input {
			margin: 1rem 0;
		}
	}
}

.loading-animation {
	display: flex;
	flex-flow: column;
	align-items: center;
	//height: 56px;
	@extend .tr2;

	.part-1 {
		position: relative;
	}

	.part-2 {
		position: relative;
		top: -10px;
	}

	.part-3 {
		position: relative;
		top: -20px;
	}
}

.part-1 {
	@extend .tr2;
	//animation: move-in-steps 2s steps(2, start) infinite;
	animation: move-in-steps 2s infinite;
	animation-delay: 0;
}
.part-2 {
	@extend .tr2;
	//animation: move-in-steps 2s steps(4, start) infinite;
	animation: move-in-steps 2s infinite;
	animation-delay: 0.6s;
}
.part-3 {
	@extend .tr2;
	//animation: move-in-steps 2s steps(6, start) infinite;
	animation: move-in-steps 2s infinite;
	animation-delay: 0.12s;
}

body {
	padding: 20px;
}

@keyframes move-in-steps {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	75% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* STEP ORDER:

AgreementStep = 1,
kycDAOMembershipStep = 2
verificationStep = 3
emailDiscordVerificationStep = 4
taxResidenceStep = 5
beginVerificationStep = 6
nftArtSelection = 7
finalStep = 8
chainSelection = 9
termsAccepted = 10
loading = 11
mintStep = 12

 */

/* STEP 02 - kycDAOMembershipStep */

.the-process {
	ul {
		padding: 1rem 0;
		margin: 0 auto;
		width: fit-content;

		li {
			list-style: none;
			display: flex;
			margin-bottom: 2rem;
			align-items: center;
			position: relative;

			&:after {
				display: block;
				content: "";
				height: 100%;
				width: 1px;
				background-color: var(--kyc-cybergreen);
				position: absolute;
				top: 2rem;
				left: 1rem;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 2rem;
				width: 2rem;
				outline: 0.5rem solid var(--kyc-cybergreen-35);
				border-radius: 999rem;
				background: var(--kyc-cybergreen);
				color: black;
				font-family: "gilroy-bold";
			}

			& > div {
				margin-left: 1rem;
				display: flex;
				flex-flow: column;

				p,
				b {
					font-family: var(--primary-font);
					font-weight: 400;
				}

				b {
					font-size: 12px;
				}
			}
		}
	}
}

.policy {
	font-family: var(--primary-font);
	color: black;
	font-size: 12px;

	a {
		font-size: 12px;
	}
}

/* 07 STEP -  nftArtSelection */

.nft-button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nft-image-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: space-around;
	align-content: center;
	height: 75%;
}
