@use "modal.module";

.kyc-dao-web-sdk-mintingFailedModal {
	@extend .kyc-dao-web-sdk-modal;

	.kyc-dao-web-sdk-header {
		.material-icons {
			background: var(--kyc-sdk-red-35);
		}

		.kyc-dao-web-sdk-first-arrow {
			background: var(--kyc-sdk-red-35);
		}

		.kyc-dao-web-sdk-close-button {
			background: transparent;

			&:hover {
				background: var(--kyc-sdk-red-35);
			}
		}
	}
}
