@use "modal";

.mintingFailedModal {
	@extend .modal;

	.header {
		.material-icons {
			background: var(--kyc-sdk-red-35);
		}

		.first-arrow {
			background: var(--kyc-sdk-red-35);
		}

		.close-button {
			background: transparent;

			&:hover {
				background: var(--kyc-sdk-red-35);
			}
		}
	}
}
