.kyc-dao-web-sdk-modal {
	box-shadow: 0 0 0 0 rgba(white, 0);
	position: absolute;
	bottom: 0em;
	margin: 1em;
	width: stretch;
	background: #fefefe;
	border-radius: 4px;

	.kyc-dao-web-sdk-header {
		flex-direction: row;
		display: flex;
		margin: 1em;
		align-items: center;

		.material-icons {
			background: var(--kyc-sdk-cybergreen-35);
			border-radius: 100%;
			width: 1.5em;
			line-height: 1.5em;
			text-align: center;
			color: black;
		}

		p {
			color: black;
			margin-left: 1em;
			font-family: var(--kyc-sdk-primary-font);
		}
	}

	.kyc-dao-web-sdk-body {
		margin: 1rem;

		p {
			color: black;
			font-family: var(--kyc-sdk-primary-font);

			b {
				font-weight: 800;
			}
		}
	}

	.kyc-dao-web-sdk-close-button {
		cursor: pointer;
	}

	.kyc-dao-web-sdk-button-wrapper {
		padding: 0 1rem 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.kyc-dao-web-sdk-button {
			padding: 0;
		}
	}
}
