@use "../../style/variables";

.step-header {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;

	&.blurred {
		filter: brightness(50%);
		background: #fefefe;
	}

	.button-wrapper {
		display: flex;
		align-items: center;
		margin-left: -0.5rem;

		button {
			width: 2rem;
			height: 2rem;
			background: none;
			border: none;
			
			color: black;
			
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: var(--border-radius-light);
			@extend .tr2;
			
			&.hidden {
				visibility: hidden;
			}
			
			&:hover:not([disabled]) {
				cursor: pointer;
				background: var(--kyc-cybergreen-35);
			}

			&:active:not([disabled]) {
				color: #09b678;
				cursor: pointer;
				background: var(--kyc-cybergreen-35);
			}
		}
	}

	.close-button {
		border: none;
		background: transparent;
		align-items: center;
		
		display: flex;
		width: 2rem;
		height: 2rem;
		justify-content: center;
		border-radius: 999rem;
		
		font-size: 24px;
		color: black;
		@extend .tr2;
		
		&:hover:not([disabled]) {
			background: var(--kyc-cybergreen-35);
			cursor: pointer;
		}

		&:active:not([disabled]) {
			color: #09b678;
			cursor: pointer;
			background: var(--kyc-cybergreen-35);
		}
	}
}
