h1,
h2,
h3,
h4 {
	font-family: "neue-machina";
	color: black;
}

.h1 {
	margin-bottom: 1em;
	font-size: 1.6rem;
	color: black;
}

.h2 {
	margin-bottom: 1em;
}

.p {
	margin-bottom: 1em;
	font-size: 12pt;
}

.middle {
	text-align: center;
}

.policy {
	font-size: 10pt;
	margin-bottom: 1em;
}

.li {
	margin-left: 2em;
	font-size: 12pt;
}

.header-button {
	margin-left: 0;
	margin-right: 0;
	font-size: 2em;
}

body {
	margin: 0;
}

.kyc-sdk-logo {
	background: var(--kyc-sdk-cybergreen);
	display: inline-flex;
	justify-content: center;
	margin-right: 8px;
	flex: 1;
	padding: 8px 10px;
	border-radius: 4px;
	max-width: 18px;
}
