h1,
h2,
h3,
h4 {
	font-family: "neue-machina";
	color: black;
}

.h1 {
	margin-bottom: 1em;
	font-size: 1.6rem;
	color: black;
}

.h2 {
	margin-bottom: 1em;
	color: black;
}

.p {
	margin-bottom: 1em;
	font-size: 12pt;
	color: black;
}

.middle {
	text-align: center;
}

.li {
	margin-left: 2em;
	font-size: 12pt;
}

.header-button {
	margin-left: 0;
	margin-right: 0;
	font-size: 2em;
}

body {
	margin: 0;
}

.policy {
	font-family: var(--kyc-sdk-primary-font);
	color: black;
	font-size: 12px;

	margin-bottom: 1em;

	a {
		font-size: 12px;
	}
}
