:root {
	--kyc-sdk-primary-font: "neue-machina";
	--kyc-sdk-cybergreen: #00ffb3;
	--kyc-sdk-cybergreen-35: rgba(0, 255, 177, 0.35);
	--kyc-sdk-cybergreen-50: rgba(0, 255, 177, 0.5);
	--darken-green: #0af292;

	--kyc-sdk-normal-blue: #3a4be9;
	--kyc-sdk-dark-blue: #181f60;
	--kyc-sdk-dark-purple: #21114a;
	--kyc-sdk-green: #03f682;
	--kyc-sdk-green-darken: #0bcb77;
	--kyc-sdk-dark-green: #09b678;
	--kyc-sdk-cyberpunk: #72f9d1;
	--kyc-sdk-red: #ff4646;
	--kyc-sdk-red-darken: #d51f4f;

	--kyc-sdk-border: rgba(24, 31, 96, 0.05);
	--steps-padding: 2rem;
	--kyc-sdk-border-radius-full: 999rem;
	--kyc-sdk-border-radius-light: 5px;
	--kyc-sdk-inactive: #d7d9df;

	--kyc-sdk-button-height: 3rem;
	--kyc-sdk-header-height: 64px;
	--kyc-sdk-unit: 4.166666666666667vw;
	--kyc-sdk-connect-button-width: 19rem;

	--kyc-sdk-normal-blue-75: rgba(58, 75, 233, 0.75);
	--kyc-sdk-normal-blue-50: rgba(58, 75, 233, 0.5);
	--kyc-sdk-normal-blue-35: rgba(58, 75, 233, 0.35);
	--kyc-sdk-normal-blue-15: rgba(58, 75, 233, 0.15);

	--kyc-sdk-dark-blue-35: rgba(24, 31, 96, 0.35);
	--kyc-sdk-dark-blue-50: rgba(24, 31, 96, 0.5);
	--kyc-sdk-dark-blue-75: rgba(24, 31, 96, 0.75);

	--kyc-sdk-green-35: rgba(3, 246, 13, 0.35);
	--kyc-sdk-green-50: rgba(3, 246, 13, 0.5);
	--kyc-sdk-green-75: rgba(3, 246, 13, 0.75);

	--kyc-sdk-cyberpunk-15: rgba(144, 249, 209, 0.15);
	--kyc-sdk-cyberpunk-35: rgba(144, 249, 209, 0.35);
	--kyc-sdk-cyberpunk-50: rgba(144, 249, 209, 0.5);

	--kyc-sdk-red-35: rgba(255, 70, 70, 0.35);

	--light-font: gilroyLight;
	--display-font: gilroyBold;
}
