@use "../components/button/button";
@use "../components/modal/emailVerificationModal";
@use "../components/modal/mintingFailedModal";
@use "../components/modal/mintingModal";
@use "../components/step/step";
@use "../components/submitButton/submitButton";
@use "../components/toggleButton/toggleButton";
@use "../components/router/router";
@use "../pages/mintMembershipCard/mintMembershipCard";
@use "../components/input/input.component";
@use "../components/select/select";
@use "../components/placeholder/placeholder";

@use "reset";
@use "style";
@use "variables";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

/*.persona-widget__overlay {
  display: block!important;
}*/

@font-face {
	font-family: "neue-machina";
	font-style: normal;
	font-weight: 400;
	src: local("neue-machina"),
		url(https://staging.kycdao.xyz/assets/NeueMachina-Regular.woff2)
			format("woff2");
}

@font-face {
	font-family: neue-machina;
	font-style: normal;
	font-weight: 400;
	src: local("neue-machina"),
		url(https://staging.kycdao.xyz/assets/NeueMachina-Regular.woff2)
			format("woff2");
}

@font-face {
	font-family: gilroy-bold;
	font-style: normal;
	font-weight: 400;
	src: local("Gilroy-Bold"),
		url(https://fonts.cdnfonts.com/s/16219/Gilroy-Bold.woff) format("woff");
}
@font-face {
	font-family: gilroy-heavy;
	font-style: normal;
	font-weight: 400;
	src: local("Gilroy-Heavy"),
		url(https://fonts.cdnfonts.com/s/16219/Gilroy-Heavy.woff) format("woff");
}
@font-face {
	font-family: gilroy-light;
	font-style: normal;
	font-weight: 400;
	src: local("Gilroy-Light"),
		url(https://fonts.cdnfonts.com/s/16219/Gilroy-Light.woff) format("woff");
}
@font-face {
	font-family: gilroy-medium;
	font-style: normal;
	font-weight: 400;
	src: local("Gilroy-Medium"),
		url(https://fonts.cdnfonts.com/s/16219/Gilroy-Medium.woff) format("woff");
}
@font-face {
	font-family: gilroy-regular;
	font-style: normal;
	font-weight: 400;
	src: local("Gilroy-Regular"),
		url(https://fonts.cdnfonts.com/s/16219/Gilroy-Regular.woff) format("woff");
}

@font-face {
	font-family: itc avant garde gothic std book;
	font-style: normal;
	font-weight: 300;
	src: local("ITC Avant Garde Gothic Std Book"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-book-58957161d80eb.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std extra light;
	font-style: normal;
	font-weight: 275;
	src: local("ITC Avant Garde Gothic Std Extra Light"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-extra-light-5895708744eb6.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std extra light condensed;
	font-style: normal;
	font-weight: 275;
	src: local("ITC Avant Garde Gothic Std Extra Light Condensed"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-extra-light-condensed-589570b606f66.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std;
	font-style: italic;
	font-weight: 275;
	src: local("ITC Avant Garde Gothic Std"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-extra-light-oblique-5895712c301f0.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std book condensed;
	font-style: normal;
	font-weight: 300;
	src: local("ITC Avant Garde Gothic Std Book Condensed"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-book-condensed-5895704105b51.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std;
	font-style: italic;
	font-weight: 300;
	src: local("ITC Avant Garde Gothic Std"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-book-condensed-oblique-589570ed92a2c.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std;
	font-style: italic;
	font-weight: 300;
	src: local("ITC Avant Garde Gothic Std"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-book-oblique-589571c924212.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std medium condensed;
	font-style: normal;
	font-weight: 500;
	src: local("ITC Avant Garde Gothic Std Medium Condensed"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-medium-condensed-5895720edc668.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std demi;
	font-style: normal;
	font-weight: 600;
	src: local("ITC Avant Garde Gothic Std Demi"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-demi-589572a199962.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std demi condensed;
	font-style: normal;
	font-weight: 600;
	src: local("ITC Avant Garde Gothic Std Demi Condensed"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-demi-condensed-589571f095e47.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std;
	font-style: italic;
	font-weight: 600;
	src: local("ITC Avant Garde Gothic Std"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-demi-condensed-oblique-5895723d52f87.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std bold;
	font-style: normal;
	font-weight: 700;
	src: local("ITC Avant Garde Gothic Std Bold"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-bold-589572c7e9955.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std bold condensed;
	font-style: normal;
	font-weight: 700;
	src: local("ITC Avant Garde Gothic Std Bold Condensed"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-bold-condensed-5895705e8fe31.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std;
	font-style: italic;
	font-weight: 700;
	src: local("ITC Avant Garde Gothic Std"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-bold-condensed-oblique-5895710fb8537.woff)
			format("woff");
}
@font-face {
	font-family: itc avant garde gothic std;
	font-style: italic;
	font-weight: 700;
	src: local("ITC Avant Garde Gothic Std"),
		url(https://fonts.cdnfonts.com/s/14411/itc-avant-garde-gothic-std-bold-oblique-589573024abd6.woff)
			format("woff");
}

/* fallback */
@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
		format("woff2");
	font-display: block;
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}
