:root {
  --kyc-normal-blue: #3a4be9;
  --kyc-dark-blue: #181f60;
  --kyc-dark-purple: #21114a;
  --kyc-green: #03f682;
  --kyc-green-darken: #0BCB77;
  --kyc-dark-green: #09b678;
  --kyc-red: #ff4646;
  --kyc-red-darken: #D51F4F;

  --border: rgba(24, 31, 96, 0.05);
  --steps-padding: 2rem;
  --border-radius-full: 999rem;
  --border-radius-light: 5px;
  --inactive: #D7D9DF;

  --button-height: 3rem;
  --unit: 4.166666666666667vw;
  --connect-button-width: 19rem;

  --kyc-normal-blue-75: rgba(58, 75, 233, 0.75);
  --kyc-normal-blue-50: rgba(58, 75, 233, 0.5);
  --kyc-normal-blue-35: rgba(58, 75, 233, 0.35);
  --kyc-normal-blue-15: rgba(58, 75, 233, 0.15);

  --kyc-dark-blue-35: rgba(24, 31, 96, 0.35);
  --kyc-dark-blue-50: rgba(24, 31, 96, 0.5);
  --kyc-dark-blue-75: rgba(24, 31, 96, 0.75);

  --kyc-green-35: rgba(3, 246, 13, 0.35);
  --kyc-green-50: rgba(3, 246, 13, 0.50);
  --kyc-green-75: rgba(3, 246, 13, 0.75);

  --kyc-red-35: rgba(255, 70, 70, 0.35);

  --primary-font: gilroyRegular;
  --light-font: gilroyLight;
  --display-font: gilroyBold;
}
