@mixin pseudo($bg-color) {
  display: block;
  background-color: $bg-color;
  content: "";
}

@mixin rotate($rotation) {
  -webkit-transition-property: $rotation;
  -moz-transition-property: $rotation;
  -o-transition-property: $rotation;
  -ms-transition-property: $rotation;
  transition-property: $rotation;
  -ms-transform: rotate($rotation); /* IE 9 */
  -webkit-transform: rotate($rotation); /* Chrome, Safari, Opera */
  transform: rotate($rotation);
}

.interactive {
  cursor: pointer;
  @extend .tr2;
}

.mgt-5 {
  margin-top: 5rem;
}

.mgt-10 {
  margin-top: 10rem;
}

.desaturate {
  -webkit-filter: grayscale(1) !important;
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
  //filter: gray !important;
}
.saturate {
  -webkit-filter: grayscale(0) !important;
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important;
  //filter: gray !important;
}

.is-invisible {
  visibility: hidden;
  opacity: 0;
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

.hypen {
  display: block;
  content: "";
  height: 1px;
  width: 30px;
  margin: 0 0.5rem;
  border: none;
  outline: none;
}
