.kyc-button {
  height: var(--button-height);
  display: inline-flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  outline: none;
  border: 1px solid transparent;
  border-radius: var(--border-radius-light);
  cursor: pointer;
  @extend .tr2;

  span {
    font-family: gilroyRegular;
    font-weight: 400;
    font-size: 18px;
    margin-left: 0;
    @extend .tr2;
  }

  i {
    @include rotate(0);
    @extend .tr2;
  }

  &:hover {
    span {
      margin-left: 1rem;
    }

    i {
      @include rotate(-45deg);
      @extend .tr2;
    }
  }

  &.full-with {
    display: flex;
  }

  &.white {
    background: white;
    box-shadow: 0 0 0 0 rgba(white, 0);

    span,
    .material-icons {
      color: var(--kyc-dark-blue);
    }

    &:hover {
      background: var(--kyc-normal-blue);
      box-shadow: 0 0 0 10px var(--kyc-normal-blue-35);

      span,
      .material-icons {
        color: white;
      }
    }

    &:focus {
      box-shadow: 0 0 0 10px var(--kyc-normal-blue-50);
    }

    &:active {
      box-shadow: 0 0 0 10px var(--kyc-normal-blue-70);
    }

    &:focus-visible {
      outline: none;
      border: none;
    }
  }

  &.blue {
    background: var(--kyc-normal-blue);
    box-shadow: 0 0 0 0 rgba(white, 0);

    span,
    .material-icons {
      color: white;
    }

    &:hover {
      background: var(--kyc-normal-blue);
      box-shadow: 0 0 0 10px var(--kyc-normal-blue-35);

      span,
      .material-icons {
        color: white;
      }
    }

    &:focus {
      box-shadow: 0 0 0 10px var(--kyc-normal-blue-50);
    }

    &:active {
      box-shadow: 0 0 0 10px var(--kyc-normal-blue-75);
    }

    &:focus-visible {
      outline: none;
      border: none;
    }
  }

  &.dark {
    background: var(--kyc-dark-blue);
    box-shadow: 0 0 0 0 rgba(white, 0);

    span,
    .material-icons {
      color: white;
    }

    &:hover {
      background: white;
      box-shadow: 0 0 0 10px rgba(white, 0.3);

      span,
      .material-icons {
        color: var(--kyc-normal-blue);
      }
    }

    &:focus {
      box-shadow: 0 0 0 10px var(--kyc-normal-blue-50);
    }

    &:active {
      box-shadow: 0 0 0 10px var(--kyc-normal-blue-70);
    }

    &:focus-visible {
      outline: none;
      border: none;
    }
  }
}

.link-btn {
  box-sizing: border-box;
  padding: 0;
  @extend .tr2;

  &:after {
    height: 2px;
    width: 100%;
    background-color: var(--kyc-normal-blue);
    content: "";
    display: block;
  }

  &:hover {
    background: var(--kyc-normal-blue);
    color: var(--kyc-normal-blue);
  }

  &:visited {
  }
}
