@import "./global-constants.scss";

body {
  .xxl-text,
  h1 {
    font-family: var(--primary-font);
    //letter-spacing: -2px;
    //line-height: 110%;
    font-weight: 100;

    @media #{$smobile}, #{$mobile} {
      font-size: 26px;
    }

    @media #{$tablet}, #{$desktop}, #{$widescreen}, #{$fullhd} {
      font-size: 3vw;
    }
  }

  .xl-text,
  h2 {
    font-family: var(--primary-font);
    font-weight: 100;

    @media #{$smobile}, #{$mobile} {
      font-size: 22px;
    }

    @media #{$tablet}, #{$desktop}, #{$widescreen}, #{$fullhd} {
      font-size: 2.5vw;
    }
  }

  .lg-text,
  h3 {
    font-family: var(--primary-font);

    @media #{$smobile}, #{$mobile} {
      font-size: 18px;
    }

    @media #{$tablet}, #{$desktop}, #{$widescreen}, #{$fullhd} {
      font-size: 2.15vw;
    }
  }

  .text-md,
  h4 {
    font-family: var(--primary-font);

    @media #{$smobile}, #{$mobile} {
      font-size: 16px;
    }

    @media #{$tablet}, #{$desktop} {
      font-size: 1.8vw;
    }

    @media #{$widescreen}, #{$fullhd} {
      font-size: 1.5vw;
    }

    /*
    @media #{$smobile}     {font-size: 14px;}
    @media #{$mobile}     {font-size: 16px;}
    @media #{$desktop}     {font-size: 16px;}
    @media #{$widescreen}     {font-size: 16px;}
    @media #{$fullhd}    {font-size: 18px;}
    */
  }

  .text-sm,
  p {
    font-family: var(--primary-font);
    line-height: 170%;

    @media #{$smobile} {
      font-size: 14px;
    }
    @media #{$mobile} {
      font-size: 14px;
    }
    @media #{$tablet} {
      font-size: 16px;
    }
    @media #{$desktop} {
      font-size: 18px;
    }
    @media #{$widescreen} {
      font-size: 22px;
    }
    @media #{$fullhd} {
      font-size: 22px;
    }
  }

  p {
    //line-height: 130%;
  }

  .text-xs {
    font-family: var(--primary-font);

    @media #{$smobile} {
      font-size: 10px;
    }
    @media #{$mobile} {
      font-size: 10px;
    }
    @media #{$tablet} {
      font-size: 12px;
    }
    @media #{$desktop} {
      font-size: 12px;
    }
    @media #{$widescreen} {
      font-size: 14px;
    }
    @media #{$fullhd} {
      font-size: 14px;
    }
  }

  h1, h2, h3, h4, h5, h6, p, ul li, ol li{

    &.bold{
      font-family: var(--display-font);
      font-weight: 800;
    }
  }

  /*
  ul {
    @media #{$smobile} {
      font-size: 12px;
    }
    @media #{$mobile} {
      font-size: 14px;
    }
    @media #{$desktop} {
      font-size: 14px;
    }
    @media #{$widescreen} {
      font-size: 14px;
    }
    @media #{$fullhd} {
      font-size: 16px;
    }

    li {
      line-height: initial;
    }
  }

   */

  /*
  b {
    font-weight: 800;
    @media #{$smobile} {
      font-size: 12px;
    }
    @media #{$mobile} {
      font-size: 14px;
    }
    @media #{$desktop} {
      font-size: 14px;
    }
    @media #{$widescreen} {
      font-size: 14px;
    }
    @media #{$fullhd} {
      font-size: 16px;
    }
   */

}

:root {
  --display-font: gilroyRegular;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ul li,
ol li,
b {
  //font-family: var(--avargardeBook);
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--kyc-dark-blue);
}

::selection {
  background: var(--kyc-normal-blue);
  color: white;
}

body {
  display: flex;
  flex-flow: column;
}

ol, ul{
  padding-inline-start: 0;
}
