@import "../../style/style.scss";

div.kyc-option {
  background: #ecf0fe;
  height: 2.5em;
  cursor: pointer;
  line-height: 2.5em;
  padding-left: 1.5em;
  border-bottom: 1px solid grey;
}

.kyc-input {
  height: $--button-height;
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 1.5em;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  box-shadow: 0 0 0 0 rgba(white, 0);
  background: #ecf0fe;
  color: $--kyc-dark-purple;
  border-radius: $--border-radius-light;
  font-size: 12pt;
  border-width: 2pt;
  border-style: solid;
  padding-right: 3em;

  ::placeholder {
    color: $--kyc-dark-purple;
  }

  ::-webkit-input-placeholder {
    color: $--kyc-dark-purple;
  }

  :-ms-input-placeholder {
    color: $--kyc-dark-purple;
  }

  ::-ms-input-placeholder {
    color: $--kyc-dark-purple;
  }

  &:hover {
    box-shadow: 0 0 0 10px $--kyc-normal-blue-35;
    border-color: $--kyc-normal-blue;
  }

  &:focus {
    box-shadow: 0 0 0 10px $--kyc-normal-blue-50;
    border-color: $--kyc-normal-blue;
  }

  &.full-width {
    display: flex;
    width: 100%;
  }
}

div.autocomplete {
  position: relative;
  width: 368px;
  max-height: 45vh;
  overflow-y: auto
}

div.clear {
  position: relative;
  top: -3em;
  left: 92%;
  right: 3em;
  width: 1em;
  height: 1em;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: lightgrey;
  }

  &.disabled {
    color: lightgrey;
  }
}