@use "../../style/tr2";

.kyc-dao-web-sdk-loading-animation {
	display: flex;
	flex-flow: column;
	align-items: center;
	@extend .kyc-dao-web-sdk-tr2;

	@keyframes move-in-steps {
		0% {
			opacity: 1;
		}

		25% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		75% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.kyc-dao-web-sdk-part-1 {
		position: relative;
		//animation: move-in-steps 2s steps(2, start) infinite;
		animation: move-in-steps 2s infinite;
		animation-delay: 0s;
	}

	.kyc-dao-web-sdk-part-2 {
		@extend .kyc-dao-web-sdk-tr2;
		//animation: move-in-steps 2s steps(4, start) infinite;
		animation: move-in-steps 2s infinite;
		animation-delay: 0.6s;
		position: relative;
		top: -10px;
	}

	.kyc-dao-web-sdk-part-3 {
		position: relative;
		top: -20px;
		@extend .kyc-dao-web-sdk-tr2;
		//animation: move-in-steps 2s steps(6, start) infinite;
		animation: move-in-steps 2s infinite;
		animation-delay: 0.12s;
	}

	svg path {
		fill: var(--kyc-sdk-cybergreen);
	}
}
