.KycDaoModalContent {
    top: 100px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    box-shadow: 0px 1px 174px rgba(59, 31,69, 0.2);
    width: 400px;
    height: 650px;
}