@use "../../style/tr2";

.nft-image-wrapper {
	.nft-image {
		height: 150px;
		width: 150px;
		border: 2px solid transparent;
		border-radius: 999rem;
		box-shadow: 0 0 0 5px transparent;

		@extend .tr2;

		&:hover:not(.disabled) {
			cursor: pointer;
			box-shadow: 0 0 0 5px var(--kyc-sdk-cybergreen-35);
			border: 2px solid black;
		}

		&.selected {
			box-shadow: 0 0 0 5px var(--kyc-sdk-cybergreen-35);
			border: 2px solid black;
		}
	}
}

.nft-button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nft-image-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	// align-content: center;
	padding: 1em;
	height: 100%;
	overflow: scroll;
}
