@import "../../style/variables.scss";

button.kyc-button {
  height: $--button-height;
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 1.5em;
  align-items: center;

  position: relative;
  box-shadow: 0 0 0 0 rgba(white, 0);
  background: #ecf0fe;
  color: $--kyc-dark-purple;
  border-radius: $--border-radius-light;
  font-size: 12pt;
  cursor: pointer;
  @extend .tr2;

  span {
    font-family: 'gilroyRegular';
    font-weight: 400;
    font-size: 16px;
    margin-left: 0;
  }

  &.full-width{
    width: 100%;
  }

  &[disabled] {
    background: $--inactive!important;
    pointer-events: none!important;
  }


  &.blue {
    background: $--kyc-normal-blue;

    span,
    .material-icons {
      font-weight: 400;
      color: white;
    }

    &:hover{
      background: $--kyc-normal-blue;
      box-shadow: 0 0 0 10px $--kyc-normal-blue-35;
    }

    &:focus {
      background: $--kyc-normal-blue;
      box-shadow: 0 0 0 5px $--kyc-normal-blue-50;
    }

    &:active {
      box-shadow: 0 0 0 5px $--kyc-normal-blue-35;
    }

    &:focus-visible {
      outline: none;
      border: none;
    }
  }


  &.green{
    background: $--kyc-cyberpunk;

    span,
    .material-icons {
      font-weight: 400;
      color: white;
    }

    &:hover{
      background: $--kyc-cyberpunk;
      box-shadow: 0 0 0 10px $--kyc-cyberpunk-35;

      span,
      .material-icons {
        font-weight: 400;
        color: $--kyc-dark-blue;
        //margin-left: 0.5em;
      }
    }

    &:focus {
      background: $--kyc-cyberpunk;
      box-shadow: 0 0 0 5px $--kyc-cyberpunk-50;
    }


    &:active {
      box-shadow: 0 0 0 5px $--kyc-dark-blue-35;
    }

    &:focus-visible {
      outline: none;
      border: none;
    }
  }



  /*

  &.white {
    background: white;
    box-shadow: 0 0 0 0 rgba(white, 0);

    span,
    .material-icons {
      color: $--kyc-dark-purple;
    }

    &:hover {
      background: $--kyc-normal-blue;
      box-shadow: 0 0 0 10px rgba($--kyc-normal-blue, 0.3);

      span,
      .material-icons {
        color: white;
      }
    }

    &:focus {
      box-shadow: 0 0 0 10px rgba($--kyc-normal-blue, 0.5);
    }

    &:active {
      box-shadow: 0 0 0 10px rgba($--kyc-normal-blue, 0.7);
    }

    &:focus-visible {
      outline: none;
      border: none;
    }
  }

  &.dark {
    background: $--kyc-dark-blue;
    box-shadow: 0 0 0 0 rgba(white, 0);

    span,
    .material-icons {
      color: white;
    }

    &:hover {
      background: white;
      box-shadow: 0 0 0 10px rgba(white, 0.3);

      span,
      .material-icons {
        color: $--kyc-normal-blue;
      }
    }

    &:focus {
      box-shadow: 0 0 0 10px rgba($--kyc-dark-blue, 0.5);
    }

    &:active {
      box-shadow: 0 0 0 10px rgba($--kyc-dark-blue, 0.7);
    }

    &:focus-visible {
      outline: none;
      border: none;
    }
  }

  &.passed {
    background: $--kyc-green;
    box-shadow: 0 0 0 0 rgba(white, 0);

    span,
    .material-icons {
      color: $--kyc-dark-blue;
    }

    &:hover {
      background: $--kyc-green;
      box-shadow: 0 0 0 10px rgba(white, 0.3);
    }
  }

  &.underline {
    color: $--kyc-normal-blue;
    text-decoration: underline;
    background: transparent;

    @keyframes underlineHover {
      from {
        color: $--kyc-normal-blue;
      }

      to {
        color: $--kyc-green;
      }
    }

    &:hover {
      animation-name: underlineHover;
      animation-duration: 100ms;
      color: $--kyc-green;
    }
  }

   */
}