$border: rgba(var(--kyc-dark-blue), 0.05);
$border-2: rgba(var(--kyc-dark-blue), 0.1);

#poc-body {
  /*
  #site-header{
    background-image: url("../img/kycd-pearl-background.jpg");
    background-size: cover;
    flex-flow: column;
    padding: 0;

    @media #{$mobile}, #{$tablet} {
      padding: 6rem 0 6rem 0;
    }

    @media #{$desktop}{
      padding: 14vh 0 10vh 0;
    }

    @media #{$widescreen}, #{$fullhd} {
      padding: 28vh 0 18vh 0;
    }

    .text-wrapper{
      grid-row-gap: 2rem;

      .poc-content-container{
        grid-row-gap: 2rem;
      }

      h1{
        padding-top: 10vh;
        font-family: gilroyRegular;
        grid-column: 1 / 12;
      }

      h3{
        grid-column: 1 / 24;
      }

      .steps{
        padding: 0;
        padding-bottom: 10vh;

        @media #{$mobile}, #{$tablet} {
          grid-column: 1 / 24;
        }

        @media #{$desktop}{
          grid-column: 1 / 12;
        }

        @media #{$widescreen}, #{$fullhd} {
          grid-column: 1 / 6;
        }
      }
    }

    &.small{
      padding-top: 10vh;

      .breadcrumb{
        //padding: 3rem 0 0 0;
      }

      .steps{
        //padding: 3rem 0 0 0;
        //grid-column: 1 / 6;

        ul{
          padding: 0.5rem;
          display: flex;
          align-items: center;
          background: rgb(65 47 109 / 28%);

          border-radius: 999rem;

          li{
            padding: 0.5rem;
            width: 42px;
            height: 42px;
            margin-right: 1rem;
            background: transparent;
            border-radius: 999rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            cursor: pointer;
            @extend .tr2;
          }

          li:last-child{
            margin-right: 0;
          }

          li:hover{
            background: var(--kyc-normal-blue);

          }

          li.selected{
            background: var(--kyc-normal-blue);

          }
        }
      }
    }
  }

   */

  #poc-service-slider {
    display: flex;
    padding-left: $grid-col-width;
    margin-top: -3rem;

    overflow: hidden;
    width: 100%;
    //@include translateX(-5%);

    & > li {
      width: 20.6vw;

      //@media #{$mobile}     {width: 22*$unit;}
      //@media #{$tablet}     {width: 12*$unit;}
      //@media #{$desktop}    {width: 8*$unit;}
      //@media #{$widescreen} {width: 5*$unit;}
      //@media #{$fullhd}     {width: 5*$unit;}
    }

    /*
    li:nth-child(1){
      grid-column: 2 / 7;
    }
    li:nth-child(2){
      grid-column: 7 / 12;
    }
    li:nth-child(3){
      grid-column: 12 / 17;
    }
    li:nth-child(4){
      grid-column: 17 / 22;
    }
    li:nth-child(5){
      grid-column: 22 / 27;
    }
    li:nth-child(6){
      grid-column: 23 / 27;
    }
    li:nth-child(7){
      grid-column: 27 / 32;
    }
    li:nth-child(8){
      grid-column: 32 / 37;
    }

     */

    .first {
    }

    .second {
    }
  }
}
