@font-face {
  font-family: "gilroyRegular";
  src:
    url("./fonts/ITCAvantGardePro-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyRegular";
  src:
    url("./fonts/Gilroy-Regular.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyLight";
  src:
    url("./fonts/Gilroy-Light.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "gilroyBold";
  src:
    url("./fonts/Gilroy-ExtraBold.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}
