@use "./KycDaoClient.scss";

.KycDaoModalIFrame {
	@extend .KycDaoModalFrame;
	border: 0px;
	border-width: 0;
}

@media only screen and (min-width: 992px) {
	.KycDaoModalIFrame {
		width: var(--width);
		height: var(--height);
		margin: auto;
		border-radius: 12px;
	}
}

.KycDaoModalRoot {
	@extend .KycDaoModalRoot;
}
