.padding-top {
  padding-top: 2 * $unit;
}

body#home {
  section {
    @extend .padding-top;
  }

  #hero {
    margin-top: 0;

    .hero-content-wrapper {
      row-gap: 1rem;

      @media #{$smobile}, #{$mobile}, #{$tablet} {
        padding: 6rem 0 6rem 0;
      }

      @media #{$desktop} {
        padding: 14vh 0 12vh 0;
      }

      @media #{$widescreen}, #{$fullhd} {
        padding: 28vh 0 26vh 0;
      }

      h1 {
        grid-column: 1 / 12;
      }

      h2 {
        grid-column: 1 / 24;
      }
    }
  }

  #home-above-the-fold {
    margin-top: -3 * $unit;

    @media #{$smobile}, #{$mobile}, #{$tablet} {
      margin-top: -2 * $unit;

      .the-proposition {
        grid-column: 1/24;
        grid-row: 2 / 6;
        row-gap: 1rem;
        margin-top: 2rem;
      }
    }

    @media #{$tablet} {
      margin-top: -5rem;
    }
  }

  .dark-background {
    background-image: url("../img/kyc-dark-pearl-background.jpg");
    position: relative;
    background-size: cover;
    padding: 4rem;
    min-height: 54vh;

    .the-proposition {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      position: relative;

      @media #{$smobile}, #{$mobile}, #{$tablet} {
        grid-column: 1 / 24;
      }

      @media #{$desktop} {
        grid-column: 1 / 12;
      }

      @media #{$widescreen}, #{$fullhd} {
        grid-column: 1 / 8;
      }

      h2,
      h3 {
        color: white;
        font-weight: 400;
        z-index: 2;
        position: relative;
      }

      .kyc-button {
        position: relative;
        z-index: 2;
      }

      .form-wrapper {
        width: 100%;
        display: flex;
        flex-flow: column;

        input,
        a {
          width: 100%;
        }
      }

      .logo-outlined {
        position: absolute;
        z-index: 1;
        height: calc(100% + 4rem);

        @media #{$desktop}, #{$widescreen}, #{$fullhd} {
          margin: -2rem;
        }

        svg {
          height: 100%;
          width: auto;

          path {
            stroke: rgba(var(--kyc-normal-blue), 0.5);
            stroke-width: 4;
          }
        }

        @media #{$smobile}, #{$mobile}, #{$tablet} {
          margin: 0;

          svg {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .the-process {
      display: flex;
      align-items: center;

      @media #{$smobile}, #{$mobile}, #{$tablet} {
        grid-column: 1 / 24;
      }

      @media #{$desktop} {
        grid-column: 6 / 12;
      }

      @media #{$widescreen}, #{$fullhd} {
        grid-column: 18 / 24;
      }

      ul {
        li {
          margin-bottom: 1.5rem;
          display: flex;

          i.material-icons {
            padding: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 999rem;
            background: white;
            color: var(--kyc-dark-purple);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
          }

          div {
            h3 {
              margin-bottom: 0.5rem;
            }

            h3,
            p {
              color: white;
            }
          }
        }
      }
    }
  }

  #partners-and-logos {
    .container {
      & > div {
        @media #{$smobile}, #{$mobile}, #{$tablet} {
          //padding: 6rem 0 6rem 0;
        }

        @media #{$desktop} {
          //padding: 14vh 0 14vh 0;
        }

        @media #{$widescreen}, #{$fullhd} {
          //padding: 16vh 0 16vh 0;
        }
      }
    }
  }

  #ntnft-and-pass-card {
    @media #{$smobile}, #{$mobile}, #{$tablet} {

      .text-wrapper {
        grid-column: 1/5;
        padding-bottom: $unit;
      }

      .pass-card-wrapper {
        grid-column: 1/5;
      }
    }

    @media #{$tablet} {
      .text-wrapper {
        grid-column: 2/8;
      }

      .pass-card-wrapper {
        grid-column: 2/8;
      }
    }

    @media #{$desktop}, #{$widescreen}, #{$fullhd} {
      .text-wrapper {
        grid-column: 1/8;
      }

      .pass-card-wrapper {
        grid-column: 9/16;
      }
    }
  }

  #steps-teaser {
    .dark-background {
      background-image: url("../img/kyc-dark-pearl-background.jpg");
      position: relative;
      background-size: cover;
      //padding: 4rem;
      min-height: 54vh;

      padding: $unit;
    }

    .title {
      grid-column: 1/24;

      @media #{$smobile}, #{$mobile}, #{$tablet} {
        padding: 6rem 0 4rem 0;
      }

      @media #{$desktop} {
        padding: 8vh 0 4vh 0;
      }

      @media #{$widescreen}, #{$fullhd} {
        padding: 10vh 0 6vh 0;
      }

      i,
      h2 {
        color: white;
      }
    }

    .the-steps {
      display: flex;
      margin-bottom: -8.7rem;
      grid-column: 1 / 24;

      .step {
        width: calc(100% / 3);
      }

      @media #{$smobile}, #{$mobile}, #{$tablet} {
        flex-flow: column;

        .step {
          width: 100%;
          margin-bottom: $unit;

          .wrapper {
            height: auto;
          }
        }
      }
    }
  }

  #the-kyc-dao {
    .light-background {
      background-image: url("../img/kycd-pearl-background.jpg");

      position: relative;
      background-size: cover;
      //min-height: 54vh;

      @media #{$smobile} {
        .text-wrapper {
          padding-top: calc(#{$unit} * 2);
          padding-bottom: calc(#{$unit} * 2);
          grid-column: 1 / 3;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      @media #{$mobile} {
        .text-wrapper {
          padding-top: calc(#{$unit} * 2);
          padding-bottom: calc(#{$unit} * 2);
          grid-column: 2 / 4;
        }
      }

      @media #{$tablet} {
        .text-wrapper {
          padding-top: calc(#{$unit} * 2);
          padding-bottom: calc(#{$unit} * 2);
          grid-column: 2 / 8;
        }
      }

      @media #{$desktop}, #{$widescreen}, #{$fullhd} {
        .text-wrapper {
          padding-top: calc(#{$unit} * 3);
          padding-bottom: calc(#{$unit} * 3);
          grid-column: 8 / 16;
        }
      }
    }
  }

  #home-sign-up {
    padding-top: $unit;
    padding-bottom: $unit;

    .form-wrapper {
      position: relative;
      z-index: 10;

      .kyc-input {
        margin-bottom: 1rem;
      }
    }
  }
}

.text-wrapper {
  h3 {
    //padding-bottom: calc(#{$unit} /2);
    padding-bottom: 1rem;
  }
}
