.post-content-single-page {
}

.content-container {
}

.content-container,
.content-container.hero-content-wrapper {
  grid-row-gap: 1rem;
  padding: $unit 0;

  p {
    line-height: 170%;
  }

  @media #{$smobile} {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li {
      grid-column: 1/3 !important;
    }
  }

  @media #{$mobile} {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li {
      grid-column: 1/5 !important;
    }
  }

  @media #{$tablet} {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li {
      grid-column: 2/8 !important;
    }
  }

  @media #{$desktop} {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li {
      grid-column: 2/18 !important;
    }
  }

  @media #{$widescreen}, #{$fullhd} {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li {
      grid-column: 5/15 !important;
    }
  }
}

#post-content-block {
}
